@import '';

/* /Pages/Cart.razor.rz.scp.css */
.item-container[b-omvvxswqmr] {
    display: flex;
    padding: 6px;
    border-bottom: solid 0.4px #d9d9d9;
}

.item-image-wrapper[b-omvvxswqmr] {
    width: 150px;
    text-align: center;
}

.item-image[b-omvvxswqmr] {
    max-height: 150px;
    max-width: 150px;
    padding: 6px;
}

.item-name[b-omvvxswqmr] {
    flex-grow: 1;
    padding: 6px;
}

.item-price[b-omvvxswqmr] {
    font-weight: 600;
    text-align: right;
    padding-top: 10%;
    padding-right: 5px;
}

.item-price-total[b-omvvxswqmr] {
    font-weight: 600;
    font-size: 20px;
    text-align: right;
    color: darkred;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 5px;
}

.cart-title[b-omvvxswqmr] {
    color: #28A745;
    font-size: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    font-weight: bold;
}

.no-items[b-omvvxswqmr] {
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 20px;
    font-weight: bold;
}

.btn-delete[b-omvvxswqmr] {
    background: none;
    border: none;
    padding : 0px;
    color: red;
    font-size: 12px;
}

.btn-delete:hover[b-omvvxswqmr] {
    text-decoration: underline;
}

.table.table-striped[b-omvvxswqmr] {
    width: 70%;
    margin-left: 15%;
    margin-bottom: 17%;
}

.placed-order-title[b-omvvxswqmr] {
    color: #28A745;
    font-size: 32px;
    margin-top: 3%;
    margin-bottom: 4%;
    font-weight: bold;
    text-align: center;
}

.placed-order-description[b-omvvxswqmr] {
    color: #28A745;
    margin-left: 15%;
}
/* /Pages/Create.razor.rz.scp.css */
body[b-c9uo29yhxd] {
}
/* /Pages/Login.razor.rz.scp.css */
.form-group[b-8vgo3pwl9u] {
    width: 75%;
    text-align: center;
    padding-left: 25%;
}

.btn.btn-success[b-8vgo3pwl9u] {
    margin-bottom: 15%;
    margin-left: 45%;
    width: 10%;
}

.title[b-8vgo3pwl9u] {
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    color: #28A745;
    margin-top: 4%;
    margin-bottom: 7%;
}
/* /Pages/ProductDetails.razor.rz.scp.css */
.views[b-17vcsvagr0] {
    font-size: 14px;
    color: gray;
    text-align: right;
}

/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-b4k0ud0wi4] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-b4k0ud0wi4] {
    flex: 1;
}

.sidebar[b-b4k0ud0wi4] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-b4k0ud0wi4] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-b4k0ud0wi4]  a, .top-row .btn-link[b-b4k0ud0wi4] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-b4k0ud0wi4] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-b4k0ud0wi4] {
        display: none;
    }

    .top-row.auth[b-b4k0ud0wi4] {
        justify-content: space-between;
    }

    .top-row a[b-b4k0ud0wi4], .top-row .btn-link[b-b4k0ud0wi4] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-b4k0ud0wi4] {
        flex-direction: row;
    }

    .sidebar[b-b4k0ud0wi4] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-b4k0ud0wi4] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-b4k0ud0wi4] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-n4yjmrl9mx] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-n4yjmrl9mx] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-n4yjmrl9mx] {
    font-size: 1.1rem;
}

.oi[b-n4yjmrl9mx] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-n4yjmrl9mx] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-n4yjmrl9mx] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-n4yjmrl9mx] {
        padding-bottom: 1rem;
    }

    .nav-item[b-n4yjmrl9mx]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-n4yjmrl9mx]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-n4yjmrl9mx]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-n4yjmrl9mx] {
        display: none;
    }

    .collapse[b-n4yjmrl9mx] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
