@inherits LayoutComponentBase

<NavMenu />
<TopMenu />
<div class="left-div">
    <br />
</div>
<div class="center-div">
    @Body
</div>
<div class="right-div">
    <br />
</div>

<BlazoredToasts Position="Blazored.Toast.Configuration.ToastPosition.BottomCenter" />