@inject ICategoryService CategoryService

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" style="background-color: black;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><h2>Z-Shop</h2></a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" id="navigation-link" aria-current="page" href="">Home</a>
                <a class="nav-link navigation" id="navigation-link" href="counter">Counter</a>
                <a class="nav-link navigation" id="navigation-link" href="fetchdata">Fetch Data</a>
                @foreach (var category in CategoryService.Categories)
                {
                    <a class="nav-link navigation" id="navigation-link" href="@category.Url">@category.Name</a>
                }
            </div>
        </div>
        

        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override void OnInitialized()
    {
        CategoryService.LoadCategories();
    }
}
