.card-title {
    color: #28A745;
    text-align: center;
    font-weight: bold;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 30px;
}

.form-group {
    width: 75%;
    padding-left: 25%;
    text-align: center;
}

.btn.btn-success {
    width: 10%;
    margin-left: 45%;
    margin-top: 4%;
}

.form-control {
    margin-bottom: 3%;
}
