@page "/"
@page "/{categoryurl}"
@inject ICategoryService CategoryService;
@inject IProductService ProductService;
@inject ISyncLocalStorageService LocalStorage 


@if (category != null)
{
    <br />
    <br />
    <h2 style="text-align: center; color: #28A745; font-weight: bold; ">@category.Name Games</h2>
    <ProductList />
}
else
{
    <AuthorizeView>
        <NotAuthorized>
            <br />
            <br />
            <h2 style="text-align: center; color: #28A745; font-weight: bold; ">Welcome to Z-Shop!</h2>
        </NotAuthorized>
        <Authorized>
            <br />
            <br />
            <h2 style="text-align: center; color: #28A745; font-weight: bold; ">Welcome back, @LocalStorage.GetItemAsString("username").Replace("\"", "")!</h2>
        </Authorized>
    </AuthorizeView>
    <ProductList />
}

@code
{
    [Parameter]
    public string CategoryUrl { get; set; }

    private Category category = null;

    protected override async Task OnParametersSetAsync()
    {
        await ProductService.LoadProducts(CategoryUrl);

        if (CategoryUrl != null)
        {
            category = CategoryService.Categories.FirstOrDefault(c => c.Url.ToLower().Equals(CategoryUrl.ToLower()));
        }
        else
        {
            category = null;
        }
    }
}
