@page "/"
@inject ICategoryService CategoryService;
@inject IProductService ProductService;
@inject ISyncLocalStorageService LocalStorage
@inject IStatsService StatsService
@inject NavigationManager NavigationManager


<AuthorizeView>
    <NotAuthorized>
        <br />
        <br />
        <h2 style="text-align: center; color: #28A745;">Welcome to Z-Shop!</h2>
    </NotAuthorized>
    <Authorized>
        <br />
        <br />
        <h2 style="text-align: center; color: #28A745; ">Welcome back, <i>@context.User.Identity.Name!</i></h2>
    </Authorized>
</AuthorizeView>
<hr />

<div class="form-group" style="width: 60%; margin-left: 20%; text-align: center;">
    <label class="category-label">Choose category:</label>
    <select class="form-control" style="text-align-last: center;" @onchange="getProducts">
        <option value="All Games">All Games</option>
        @foreach (var category in CategoryService.Categories)
        {
            <option value="@category.Url">@category.Name</option>
        }
    </select>
</div>
<ProductList />

@code
{
    private string categoryUrl { get; set; } = null;

    private async void getProducts(ChangeEventArgs e)
    {
        if(e.Value.ToString() == "All Games")
        {
            await ProductService.LoadProducts(null);
        }
        else
        {
            categoryUrl = e.Value.ToString();
            await ProductService.LoadProducts(categoryUrl);
        }
        categoryUrl = null;
    }

    protected override async Task OnParametersSetAsync()
    {
        await ProductService.LoadProducts(categoryUrl);
        await StatsService.IncrementVisits();
        await StatsService.GetVisits();
    }
}
