.form-group {
    width: 75%;
    text-align: center;
    padding-left: 25%;
}

.btn.btn-success {
    margin-bottom: 15%;
    margin-left: 45%;
    width: 10%;
}

.title {
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    color: #28A745;
    margin-top: 4%;
    margin-bottom: 7%;
}