@inject IPlatformService platformService
@inject IVariantService VariantService
@using System.Linq;

<h3 class="variant-title">Variants</h3>

@if (ProductVariants == null)
{
    <p><em>Loading Variants</em></p>
}
else
{
    <div class="variants-div">
        @foreach (var vo in enabledVariantOption)
        {
            <div class="form-group">
                <InputCheckbox @onclick="UpdateData" @bind-Value="vo.Enabled" class="input-checkbox">Enabled</InputCheckbox> 
                <span class="platform-name"><b>@vo.PlatformName</b></span> 
                <span class="price-span">Price: <InputNumber @onblur="UpdateData" @bind-Value="@vo.Price">
                      </InputNumber></span><span>Original Price: <InputNumber @onblur="UpdateData" @bind-Value="@vo.OriginalPrice"></InputNumber>
                </span>
            </div>
        }
    </div>
}



@code {
    [Parameter]
    public List<ProductVariant> ProductVariants { get; set; }

    private List<VariantOption> enabledVariantOption = new();

    protected override void OnInitialized()
    {
        foreach(var p in platformService.Platforms)
        {
            var currentVariant = ProductVariants.FirstOrDefault(o => o.PlatformId == p.Id);
            if (currentVariant != null)
            {
                enabledVariantOption.Add(new VariantOption { Enabled = true, OriginalPrice = currentVariant.OriginalPrice, PlatformId = p.Id, PlatformName = p.Name, Price = currentVariant.Price });
            }
            else
            {
                enabledVariantOption.Add(new VariantOption { Enabled = false, OriginalPrice = 0, PlatformId = p.Id, PlatformName = p.Name, Price = 0 });
            }
        }

        VariantService.SetVariants(enabledVariantOption);
    }

    void UpdateData()
    {
        VariantService.SetVariants(enabledVariantOption);
    }
}
